.Header {
  display: grid;
  grid-template-areas: 'logo nav';
}

.Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
}